<html>
<head>
  <title>Architect Inspections</title>
  <meta http-equiv="refresh" content="60"/>
</head>
<body>
  <table border="1">
    <td><th>Member</th><th>Counts</th><th>Graph</th><th>Next Check</th></td>
    {% for inspection in inspection_list %}
    <tr><td>{{ inspection.member }}</td><td>Target:{{ inspection.target_count }} Building:{{ inspection.building }} Destroying:{{ inspection.destroying }}</td><td><img src="{{ inspection.graph_url }}"/></td><td>{{ inspection.next_check }}</td></tr>
    {% endfor %}
  </table>
</body>
</html>
